<div id="navigation-new_category" class="navigation_hidden">
  bla<br/>
  <%=
      link_to(
              I18n.t('back', :scope => [:general]),
              '#',
              :class => 'action-close_navigation_page'
      )
  %>
</div>
