<div data-role="panel" id="navigation">

  <div id="categories">
    <h6>Categories</h6>

    <ul>
      <% Category.all.each do |category| %>
          <li id="category-<%= category.id.to_s %>"><%=
              link_to(
                      category.name,
                      '#',
                      :class => 'category_selection_link',
                      'data-category_id' => category.id.to_s
              )
          %></li>
      <% end %>
    </ul>
  </div>

  <div class="divider"></div>

  <div id="actions">
    <h6>Settings</h6>

    <ul>
      <li><%=
          link_to(
                  'Edit places',
                  places_path
          )
      %></li>
      <li><%=
          link_to(
                  'Edit categories',
                  categories_path
          )
      %></li>
    </ul>
  </div>

</div>

