<div data-role="panel" id="navigation">
  <ul>
    <% Category.all.each do |category| %>
        <li id="category-<%= category.id.to_s %>"><%=
            link_to(
                    category.name,
                    '#',
                    :class => 'category_selection_link',
                    'data-category_id' => category.id.to_s
            )
        %></li>
    <% end %>
  </ul>
</div>