* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

/* ------------------------------------------------------------------------------------ */

.inline-divider {
  color: #ccc;
}

/* ------------------------------------------------------------------------------------ */

#page_content {
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,li,p,a {
  font-weight: 300;
}

h1 {
  margin-bottom: 0.8em;
  font-size: 1.6em;
}

h2 {
  margin-bottom: 1em;
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

table {
  /* Without this, the tr would not render the border... */
  border-collapse: collapse;
}


/* ------------------------------------------------------------------------------------ */

input[type="text"],
input[type="button"],
textarea,
select {
  font-size: 1.3em;
  padding: 4px;
}

input[type="text"],
textarea,
select {
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 0.8em;
}

input[type="button"] {
  color: #fff;
}

#delete_marker,
#new_place_submit {
  width: 110px;
}

#delete_marker {
  float: left;
  background-color: #ee0000;
}

#new_place_submit {
  float: right;
  background-color: #00bb00;
}


/* ------------------------------------------------------------------------------------ */
/* Leaflet fixes */

.ui-page-theme-a a {
  font-weight: 300 !important;
}

.ui-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 !important;
}


.marker_adding_disabled {
  color: #cc0000 !important;
}

.leaflet-popup-content > h1 {
  font-size: 1.3em;
  margin: 0 0 0.7em 0;
}

.leaflet-popup-pane {
  width: 300px;
}