#navigation {
  background-color: #f8f8f8;
}

.navigation-symbol {
  font-size: 22px;
  padding-bottom: 2px;
  color: #0078A8 !important;
}

#navigation ul {
  list-style-type: none;
}

#navigation ul li {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.element_selected {
  background-color: rgba(255, 255, 0, 0.44);
}
