<h1>Categories</h1>

<%=
    render(
            'shared/page_navigation',
            :left => link_to(
                    'â† Back to the map',
                    root_path
            ),
            :right => link_to(
                    'New Category',
                    new_category_path
            )
    )
%>

<table>
  <tbody>
  <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td class="action">
          <%= link_to 'Edit', edit_category_path(category) %>
          <span class="inline-divider">|</span>
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

