<h1><%= I18n.t('title', :scope => [:categories, :views, :new]) %></h1>

<div id="page_navigation">
  <div class="left">
    <%=
        link_to(
                I18n.t('back', :scope => [:general]),
                categories_path
        )
    %>
  </div>
  <div style="clear: both;"></div>
</div>

<%= render 'form' %>
