<h1>Editing place</h1>

<div id="page_navigation">
  <div class="left">
    <%=
        link_to(
                'â† Back',
                places_path
        )
    %>
  </div>
  <div style="clear: both;"></div>
</div>

<%= render 'form' %>
